{% extends 'blog/base.html' %}

{% block content %}
    <div class="live-post">
        <h2><a href="">My first live post</a></h2>
        <p>
            published: 26/10/2017, 15:36
        </p>
        <p>
            There was a lot of self-satisfied pretentious crap in here so
            I deleted it and added my own whinge instead.
        </p>
    </div>
    <div class="published-posts">
        <h2><a href="">All Published Posts</a></h2>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% for post in posts %}
                        <div class="post">
                            <h1>
                                <a href="{% url 'post_detail' pk=post.pk %}">
                                    {{ post.title }}
                                </a>
                            </h1>
                            <div class="date">
                                <p>published: {{ post.published_date }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}